body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: lightslategrey;
}

.grid-container div {
    margin: 0;
    padding: 0;
    border: 0;
    flex: 1;
    background-color: white;
}

.grid-container {
    width: 500px;
    height: 500px;
    border: 5px solid black;
    display: flex;
}

.rowDiv {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#grid-value {
    width: 300px;
}

button {
    position: relative;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 0.5em;
    background-color: pink;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }

  .active, button:active {
    top: 2px;
    left: 1px;
    box-shadow: none;
  }

  .errorMsg {
    color: red;
  }